@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #999;
}

header {
  background-color: rgba(68, 68, 68, 0.8);
  backdrop-filter: blur(10px);
  color: #eee;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-container {
  padding: 1rem;
  max-width: 750px;
  margin: 0 auto;
}

/* TASK FORM */

.task-form {
  background-color: rgba(68, 68, 68, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.task-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

.task-input:focus {
  outline: none;
}

.form-submit-btn {
  padding: 0.5rem 0.75rem;
  width: 100px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  font-weight: 500;
}

/* TASK STYLES */

.task-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.task-item {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.task-text.complete {
  text-decoration: line-through;
  color: #999;
}

/* TASK BUTTONS */

.task-item .buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.5rem;
  font-size: 15px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons .delete-btn {
  background-color: #d22b2b;
  color: white;
}

.buttons .complete-btn {
  background-color: #355e3b;
  color: white;
}

.buttons .edit-btn {
  background-color: orange;
  color: white;
}
